.button {
  background-color: #4CAF50; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 6px 18px; /* Padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Display as inline-block */
  font-size: 16px; /* Font size */
  margin: 4px 2px; /* Margin */
  cursor: pointer; /* Cursor pointer */
  border-radius: 6px; /* Border radius */
}

/* 파란 배경의 빨간 글자 */
.color-blue-red{
  background-color: blue;
  color: red;
}

/* 노란 배경의 빨간 글자 */
.color-yellow-red{
  background-color: yellow;
  color: red;
}

/* 회색 배경의 파란 글자 */
.color-gray-blue{
  background-color: gray;
  color: blue;
}